$pri-clr: #554640
$sec-clr: #432d27

.aeropress-card
  margin-top: 3em
  margin-inline: auto
  padding: 2em
  min-width: 50%
  max-width: 90%
  border-radius: 2.6rem
  background-color: #B79891
  background: -webkit-linear-gradient(to top, #94716B, #B79891)
  background: linear-gradient(to top, #94716B, #B79891)
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset

  p
    text-align: center

  h2
    text-align: center
    font-size: 2rem
    margin-bottom: .4em
    color: #000
    text-shadow: lighten($pri-clr, 10) 0px 0px 2px

  progress
    width: 50%
    height: 54px

  p
    color: #432D27
    font-size: 1.1rem
    font-weight: 500
    margin-bottom: .8em

  .button-wrapper
    display: flex
    justify-content: space-between
    align-items: baseline
    margin-bottom: 2em

    .label-slider
      font-size: .8rem
