.nav
  display: flex
  align-items: center
  justify-content: center
  gap: .8em
  background-color: #BEE3DB
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px

  .nav__button
    font-weight: 600
    background-color: transparent
    border: none
    cursor: pointer
    color: #555B6E

    &:last-of-type
      margin-inline-end: 1em

    &:hover,
    &:focus
      color: #EF798A


  h1
    margin-inline-start: .5em
    margin-inline-end: .5em
    inset: 0 auto auto 1rem
    color: #EF798A
    font-size: 1.625rem
    font-weight: 600
    text-align: center
