.nav
  display: flex
  align-items: center
  gap: 2em
  background-color: #BEE3DB

  .nav__button
    font-weight: 600
    background-color: transparent
    border: none
    cursor: pointer
    color: #555B6E

    &:last-of-type
      margin-inline-end: 1em

    &:hover,
    &:focus
      color: #EF798A


  h1
    margin-inline-start: .5em
    margin-inline-end: auto
    inset: 0 auto auto 1rem
    color: #EF798A
    font-size: 1.5rem
    text-align: center
